.main-navigation {
    font-family: 'Exo', sans-serif;
        ul {
            display: inline-flex;
            // justify-content: space-between;
            // color: #00cc00;
            a {
                color: $color__text-main;
                // padding: 20px;
                margin: 20px 20px 10px 0;
            }
        }
}

.site-info {
    p{
        color: #ffffff;
        margin: 40px auto 10px 0;
    } 
    a{
        text-decoration: none;
        color: $color__text-main;
    }
}