body {
    font-family: $font__main;
    background:$color__background-body;

}

@include desktop {
    .site-header {
        .site-branding {
            .logo {
                text-align: center;
            }
        }
    }
}