.home {
    font-family: $font__main;
    background: $color__background-body;

}

.site-main {
    .type-post {
        color: #ffffff;
        .entry-content {
            p {
                font-weight: 400;
            }
        }
        .entry-meta {
            .entry-title {
                display: inline;
                font-size: 1.25rem;
                font-weight: 400;
                margin-bottom: 0;
            }
            
            .source {
                a {
                    font-weight: 400;
                    text-decoration: none;
                    color: $color__text-main;
                }
            }
        }
    }

    #new-quote-button {
        background: $color__background-body;
        border: 2px solid $color__text-main;
        color: $color__text-main;
        font-weight: 400;
        font-size: 1rem;
        padding: 15px 30px;
    }
}