    .content-area {
        .site-main {
            .entry-header {
                .entry-title {
                    color: #ffffff;
                } 
                
            }
            .entry-content {
                p {
                    color: #ffffff
                }
                a {
                    text-decoration: none;
                    color:$color__text-main;
                }
            }
        }
    }
